.oxs_debug_window {
	background-color: #2b002b;
	color:white;
	
	border: 3px solid #a205ad;
	

	font-family: monospace ;
	font-size: 11pt;
	line-height: 19px;
	letter-spacing: 0px;
}

.oxs_windows_head_text{
	
	font-family: monospace ;
	font-size: 12pt;
	line-height: 19px;
	letter-spacing: 0px;
	white-space: nowrap;
	padding: 5px;
	border-bottom: 1px solid #4682B4;
	
}

.oxs_windows_text{
	padding: 10px;
}

.oxs_debug_window_chanel{
	width: 110px;
	display: inline-block;
	text-align: right;
	display:none;
}

.oxs_debug_window_ul{
	list-style: none;
	padding: 0px;
	//margin: 0px;
}

.oxs_debug_window_object_create{
	color: #618eca;
}


.oxs_debug_window_message{
	color:#bdbdbd;
}

.oxs_debug_window_good{
	color:#64ce64;
}

.oxs_debug_window_warning{
	color:orange;
}

.oxs_debug_window_error{
	color:#f9745d;
}

.oxs_debug_window_fatal_error{
	color:red;
}

.oxs_debug_window_object_delete{
	text-decoration:underline;
}

.oxs_debug_window_db_query{
	color: #d203d2;
}