.docs_files_board_main{
	//border: 1px solid red;
	width: 100%;
}

.docs_files_board_add_files{
	border: 1px solid blue;
	width: 100%;
}

.docs_files_board_add_files_sortable_img:hover{
	cursor: move;
}

.docs_files_board_add_files_sortable_img_close{
	cursor: pointer;
}